<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="WU0" value="3/5/7-7/8/10...,ex1.png,," />
      <add key="WU1" value="blabla1...,ex1.png,," />
      <add key="WU2" value="blabla2...,pictLink,audioLink,videoLink" />
    </appSettings>

</configuration>